/*Authors = Evan & Lucas*/
body {
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: #e9e9e9;
}
#layout {
    width: 400px;
    height: 490px;
    background-image: url("img/skinDay.png");
    background-size: 400px 490px;
    box-shadow: 3px 3px 5px 1px #838383;
    border-radius: 3px;
}
#game {
    height: 32px;
}
.result{
    position: relative;
    height: 46px;
    display: flex;
    justify-content: space-between;
    padding: 0 136px 0 136px;
    align-items: center;
    border: 1px solid #34626c;
    border-radius: 3px 3px 0 0;
}
#results {
    display: flex;
    flex-direction: column-reverse;
    height: 389px;
    border: solid #34626c;
    border-width: 0 1px 1px 1px;
}
.cbnone1, .cbnone2, .cbnone3, .cbnone4{
    display: none;
}
.resultSlot {
    position: relative;
    width: 16px;
    height: 16px;
}
.box-submit, .box {
    max-height: 46px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: solid #34626c;
    border-width: 0 1px 1px 1px;
}
.box {
    border-width: 1px 0 0 0;
}
.box-submit{
    z-index: 1;
    border-radius: 0 0 3px 3px;
}
#one:hover, #two:hover, #three:hover, #four:hover {
    box-shadow: inset 0 0 1px 1px #aaa;
}

.checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #34626c;
}
.resultBoxes, .submitedResult, .clue {
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.btn-slot{
    border-radius: 4px;
    border: 1px solid #34626c;
    overflow: hidden;
}
.btn-submit{
    width: 120px;
    border-radius: 2px;
    background-color: Transparent;
    color: #f7ffe0;
    font-weight: bold;
    height: 25px;
    font-size: 0.9em;
    border: none;
    text-shadow:
            #34626c 0 0 1px,
            #34626c 0 0 1px,
            #34626c 0 0 1px,
            #34626c 0 0 1px,
            #34626c 0 0 1px,
            #34626c 0 0 1px;
}
.btn-submit:active{
    transform: scale(0.98, 0.90);
    border-radius: 3px;
    height: 25px;
    font-size: 0.9em;
    box-shadow: 0 0 0 32px #34626c;
}
.btn-submit:focus{
    outline: #aaa;
}
.palette{
    z-index: -1;
    position: absolute;
    top: 32px;
    left: -10px;
    display: none;
    align-items: center;
    border: solid #34626c;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 3px 3px;
    background-color: #fafafa;
    box-shadow: 3px 3px 5px 1px #838383;
}
#two> .palette {
    left: -44px;
}
#three> .palette {
    left: -78px;
}
#four> .palette {
    left: -112px;
}
.red, .blue, .green, .yellow, .darkorange, .darkviolet{
    margin: 8px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.darkorange{
    background-color: darkorange;
}
.darkviolet{
    background-color: darkviolet;
}
#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 28px;
    border: 1px solid #34626c;
    border-radius: 3px;
}
.win{
    display: none;
}
.lose{
    display: none;
}
.gifmlg{
    display: none;
    background-image: url('img/tenor.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 398px;
    height: 242px;
    position: absolute;
    z-index: 1000;
    top: 56px;

}
.gifMindBlowing {
    display: none;
    background-image: url('img/tenor2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 398px;
    height: 242px;
    position: absolute;
    z-index: 1000;
    top: 56px;

}
#skinSwitch, #soundMute {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #34626c;
}
#skinSwitch {
    top: 8px;
    left: 8px;
}
#soundMute {
    top: 8px;
    right: 8px;
}
#bot {
    position: absolute;
    left: 32px;
    top: 8px;
    background-image: url("img/bot.png");
    background-size: cover;
    height: 32px;
    width: 32px;
}
@media screen and (max-width: 400px) {
    #layout {
        width: 97.5%;
    }
}
